/* === Footer === */
.footer {
    background-color: var(--gray-300);
    padding: var(--spacing-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    text-align: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

/* === Footer Column === */
.footer__column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

/* === Footer Title === */
.footer__title {
    font-size: var(--font-size-xl);
    font-weight: bold;
}

/* === Footer List === */
.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* === Footer Item === */
.footer__item {
    margin-bottom: var(--spacing-xs);
}

/* === Footer Link === */
.footer__link {
    text-decoration: none;
    color: var(--black-500);
    font-size: var(--font-size);
    transition: color var(--transition-duration) var(--transition-easing);
}

.footer__link:hover {
    color: var(--blue-500);
}