/* === Header === */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

/* === Header Top Section (Logo et CTA) === */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
}

/* === Header Logo Image === */
.header__logo-img {
    height: 2.5rem;
}

/* === Header CTA (S'inscrire) === */
.header__cta {
    color: var(--black-500);
    text-decoration: none;
    font-size: var(--font-size);
    transition: color var(--transition-duration) var(--transition-easing);
}

.header__cta:hover,
.header__cta:focus {
    color: var(--orange-500);
}

/* === Header Desktop Navigation === */
.header__nav {
    display: none;
}

/* === Header Mobile Navigation === */
.header__nav--mobile {
    margin-top: var(--spacing-sm);
}

.header__nav--mobile .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--spacing-md);
    padding-block-end: var(--spacing-xs);
    border-bottom: var(--border-width-xxl) solid var(--orange-500);
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
    color: var(--orange-500);
    font-weight: var(--font-weight-bold);
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-sm);
}

.header__nav-item {
    text-align: center;
}

.header__nav-link {
    color: var(--black-500);
    text-decoration: none;
    font-size: var(--font-size);
    transition: color var(--transition-duration) var(--transition-easing);
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--orange-500);
}