.hero {
    position: relative;
    height: var(--hero-height);
    background-image: url('../../images/backgrounds/kilyan-sockalingum-NR8-cBCN3aI-unsplash.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-md);
}

.hero__content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--black-500);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-md);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
}

.hero__title {
    font-size: 2rem;
    margin-bottom: var(--spacing-sm);
}

.hero__subtitle {
    font-size: 1.125rem;
    margin-bottom: var(--spacing-md);
}

.hero__text {
    font-size: var(--font-size);
    color: var(--text-color-light);
}